.swc/

/dist/
/classmap.json

/modules/*/**/*.js
/modules/*/**/*.css
/modules/*/timestamp
/modules/*/classmap.d.ts

/archived/*/**/*.js
/archived/*/**/*.css
/archived/*/timestamp
/archived/*/classmap.d.ts
