:root {
    --playlist-labels-size: 28px;
    --playlist-labels-gap: 6px;
    --playlist-labels-count: 5;

    --playlist-labels-container-width: calc(var(--playlist-labels-size) * var(--playlist-labels-count) + var(--playlist-labels-gap) * (var(--playlist-labels-count) - 1));
    --playlist-labels-column-width: calc(12px + var(--playlist-labels-container-width) + 12px + 16px + 12px + 46px + 12px + 16px);
}

.playlist-labels-labels-container {
    --playlist-label-height: calc(var(--row-height) * 32/56);
    width: var(--playlist-labels-container-width);
    height: var(--row-height);
    align-items: center;
    display: flex;
    overflow: hidden;
    gap: var(--playlist-labels-gap);
    justify-content: flex-end;
}

.playlist-labels-label-container {
    position: relative;
    height: var(--playlist-label-height);
}

.playlist-labels-label-container>img {
    width: var(--playlist-label-height);
    height: 100%;
    object-fit: cover;
    border-radius: calc(var(--playlist-label-height) * 0.1);
}
